DB_USERNAME=ebanx
DB_PASSWORD=3b4nx2022
DB_DATABASE=ebanxtst
DATABASE_LOCALHOST_PORT=4306
MARIADB_VERSION=latest
ENTRYPOINT_INITDB=./docker/mariadb/docker-entrypoint-initdb.d
###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=e5631ea088931b32a660f69f025a0015
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
# Format described at https://www.doctrine-project.org/projects/doctrine-dbal/en/latest/reference/configuration.html#connecting-using-a-url
# IMPORTANT: You MUST configure your server version, either here or in config/packages/doctrine.yaml
#
# DATABASE_URL="sqlite:///%kernel.project_dir%/var/data.db"
DATABASE_URL="mysql://ebanx:3b4nx2022@database:3306/ebanxtst"
# DATABASE_URL="postgresql://symfony:ChangeMe@127.0.0.1:5432/app?serverVersion=13&charset=utf8"
###< doctrine/doctrine-bundle ###
CORS_ALLOW_ORIGIN=*